body .main-section-admin {
  display: grid;
  grid-template-columns: auto 60% auto;
  width: 100%;
}
body .main-section-admin .database-editor-section {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-top: 2rem;
  width: 90%;
}
body .main-section-admin .database-editor-section h1 {
  font-family: var(--ff-tertiary);
  font-size: var(--fs-secondary-heading);
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
}
body .main-section-admin .database-editor-section ul {
  list-style-type: none;
  display: unset;
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  padding-bottom: 0.45rem;
  border-bottom: 2px solid var(--clr-primary-200);
}
body .main-section-admin .database-editor-section ul li a {
  text-decoration: none;
  color: var(--clr-accent-500);
  transition: background-color 0.5s;
  background-color: transparent;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  font-family: var(--ff-tertiary);
  font-size: var(--fs-50);
  border-radius: 5px;
}
body .main-section-admin .database-editor-section ul li a:hover {
  border-top: 2px solid var(--clr-primary-200);
  border-left: 2px solid var(--clr-primary-200);
  border-right: 2px solid var(--clr-primary-200);
  border-bottom: 2px solid transparent;
  background-color: white;
  border-radius: 5px;
}
body .main-section-admin .database-editor-section ul li a.active {
  border-top: 2px solid var(--clr-primary-200);
  border-left: 2px solid var(--clr-primary-200);
  border-right: 2px solid var(--clr-primary-200);
  border-bottom: 2px solid transparent;
  background-color: white;
  border-radius: 5px;
}
body .main-section-admin .database-editor-section .database-wrappers h4 {
  font-size: var(--fs-200);
  color: var(--clr-accent-400);
  font-family: var(--ff-tertiary);
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database h2 {
  font-size: var(--fs-50);
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .inputs-wrapper {
  display: unset;
  display: flex;
  gap: 2rem;
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .inputs-wrapper .inputs-wrapper-inside {
  width: 100%;
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .inputs-wrapper .inputs-wrapper-inside h5 {
  font-size: var(--fs-50);
  font-family: var(--ff-tertiary);
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .inputs-wrapper .inputs-wrapper-inside input {
  width: 100%;
  font-size: var(--fs-50);
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .btn {
  font-size: var(--fs-10);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-bottom: 1rem;
}
body .main-section-admin .database-editor-section .database-wrappers .search-inputs-database .btn:hover {
  background-color: var(--clr-accent-500);
}
body .main-section-admin .database-editor-section .database-wrappers .add-button-database-wrapper span {
  font-weight: var(--fw-bold);
}
body .main-section-admin .database-editor-section .database-wrappers .add-button-database-wrapper .btn {
  font-family: var(--ff-tertiary);
  font-size: var(--fs-50);
  font-weight: var(--fw-regular);
  transition: background-color 0.5s;
  border: transparent;
}
body .main-section-admin .database-editor-section .database-wrappers .add-button-database-wrapper .btn a {
  text-decoration: none;
  color: var(--clr-neutral-100);
}
body .main-section-admin .database-editor-section .database-wrappers .add-button-database-wrapper .btn:hover {
  background-color: var(--clr-icons-400);
  color: var(--clr-primary-500);
}
body .main-section-admin .database-editor-section .database-wrappers .table-datasets-wrapper {
  margin-top: 2rem;
}
body .main-section-admin .database-editor-section .database-wrappers .table-datasets-wrapper thead {
  font-weight: var(--fw-bold);
  border-top: solid transparent;
}
body .main-section-admin .database-editor-section .database-wrappers .table-datasets-wrapper thead th {
  font-size: var(--fs-10);
}
body .main-section-admin .database-editor-section .database-wrappers .table-group-divider tr {
  background-color: transparent;
}
body .main-section-admin .database-editor-section .database-wrappers .table-group-divider td {
  font-size: var(--fs-10);
  word-wrap: break-word;
  border-top: solid transparent;
  background-color: transparent;
}
body .main-section-admin .database-editor-section .database-wrappers .table-group-divider td a {
  gap: 2rem;
  line-height: 1.5rem;
}
body .main-section-admin .database-editor-section .database-wrappers .table-group-divider td a .fa-solid {
  color: var(--clr-primary-50);
  font-size: var(--fs-10);
  margin-right: 0.5rem;
  border: 1px solid var(--clr-primary-200);
  border-radius: 50%;
  padding: 0.225rem;
}
body .main-section-admin .database-editor-section .database-wrappers .table-group-divider td img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}/*# sourceMappingURL=Admin.css.map */