body .main-section-contact {
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
body .main-section-contact .big-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .main-section-contact .big-container h2 {
  text-align: center;
  margin-block: 2rem;
}
body .main-section-contact .big-container .container .contact-wrapper {
  border: 2px solid var(--clr-accent-100);
  border-radius: 10px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 2rem;
}
body .main-section-contact .big-container .container .contact-wrapper .fa-sharp {
  font-size: var(--fs-500);
  color: var(--clr-accent-400);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
body .main-section-contact .big-container .container .contact-wrapper h5 {
  font-size: var(--fs-50);
  font-family: var(--ff-tertiary);
}
body .main-section-contact .big-container .container .contact-wrapper h5 a {
  text-decoration: none;
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
}
body .main-section-contact .big-container .container .contact-wrapper h4 {
  font-size: var(--fs-50);
  font-weight: var(--fw-bold);
  font-family: var(--ff-tertiary);
}
body .map-location-wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
}
body .map-location-wrapper .wrapper-location {
  display: flex;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column !important;
}
body .map-location-wrapper .wrapper-location iframe {
  width: auto;
  height: 15rem;
  margin-bottom: 1rem;
}
body .map-location-wrapper .wrapper-location div {
  margin-bottom: 3rem;
}
body .map-location-wrapper .wrapper-location div h4 {
  font-size: var(--fs-50);
  font-weight: var(--fw-bold);
  font-family: var(--ff-tertiary);
}
body .map-location-wrapper .wrapper-location div h5 {
  font-size: var(--fs-50);
  font-family: var(--ff-tertiary);
}
body .map-location-wrapper .wrapper-location div h5 a {
  text-decoration: none;
  color: var(--clr-accent-400);
  font-weight: var(--fw-bold);
}
@media only screen and (min-width: 1020px) {
  body .main-section-contact {
    box-sizing: border-box;
    display: unset;
    display: grid;
    grid-template-columns: auto 60% auto;
    margin-right: 12rem;
    margin-top: 4rem;
    width: 100%;
  }
  body .main-section-contact .big-container {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
  }
  body .main-section-contact .big-container h2 {
    font-size: var(--fs-secondary-heading);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-600);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  body .main-section-contact .big-container .container {
    display: flex;
    gap: 4rem;
  }
  body .main-section-contact .big-container .container .contact-wrapper {
    border: 2px solid var(--clr-accent-100);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
  }
  body .main-section-contact .big-container .container .contact-wrapper .fa-sharp {
    font-size: var(--fs-500);
    color: var(--clr-accent-400);
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  body .main-section-contact .big-container .container .contact-wrapper h5 {
    font-size: var(--fs-50);
    font-family: var(--ff-tertiary);
  }
  body .main-section-contact .big-container .container .contact-wrapper h5 a {
    text-decoration: none;
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
  }
  body .main-section-contact .big-container .container .contact-wrapper h4 {
    font-size: var(--fs-50);
    font-weight: var(--fw-bold);
    font-family: var(--ff-tertiary);
  }
  body .map-location-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  body .map-location-wrapper .wrapper-location {
    display: flex;
    flex-direction: row !important;
    gap: 2rem;
    padding-left: 1rem;
    width: 60% !important;
  }
  body .map-location-wrapper .wrapper-location div h4 {
    font-size: var(--fs-50);
    font-weight: var(--fw-bold);
    font-family: var(--ff-tertiary);
  }
  body .map-location-wrapper .wrapper-location div h5 {
    font-size: var(--fs-50);
    font-family: var(--ff-tertiary);
  }
  body .map-location-wrapper .wrapper-location div h5 a {
    text-decoration: none;
    color: var(--clr-accent-400);
    font-weight: var(--fw-bold);
  }
  body .map-location-wrapper .wrapper-location iframe {
    width: 60%;
    height: 400px;
  }
}/*# sourceMappingURL=Contact.css.map */