@mixin contact-style{

    .main-section-contact{
        width: 90%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
        .big-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                text-align: center;
                margin-block: 2rem;
            }
            .container{
                .contact-wrapper{
                    border: 2px solid var(--clr-accent-100);
                    border-radius: 10px;
                    padding: 1rem;
                    margin-left: auto;
                    margin-right: auto;
                    width: 80%;
                    margin-bottom: 2rem;
                    .fa-sharp{
                       font-size: var(--fs-500);
                       color: var(--clr-accent-400);
                       display: flex;
                       justify-content: center;
                       margin-bottom: 2rem;
                    }
                    h5{
                        font-size: var(--fs-50);
                        font-family: var(--ff-tertiary);
                        a{
                            text-decoration: none;
                            color: var(--clr-accent-400);
                            font-weight: var(--fw-bold);
                        }
                       }
                       h4{
                        font-size: var(--fs-50);
                        font-weight: var(--fw-bold);
                        font-family: var(--ff-tertiary);
                       }

                }
            }
        }
    }
    .map-location-wrapper{
        display: flex;
        justify-content: left;
        width: 100%;
        .wrapper-location{
            display: flex;
            width: 70% !important;
            margin-left: auto;
            margin-right: auto;
            flex-direction: column !important;
            iframe{
                width: auto;
                height: 15rem;
                margin-bottom: 1rem;
            }
            div{
                margin-bottom: 3rem;
                h4{
                    font-size: var(--fs-50);
                    font-weight: var(--fw-bold);
                    font-family: var(--ff-tertiary);
                }
                h5{
                    font-size: var(--fs-50);
                    font-family: var(--ff-tertiary);
                    a{
                        text-decoration: none;
                        color: var(--clr-accent-400);
                        font-weight: var(--fw-bold);
                    }
                   }
            }
        }
    }

    @media only screen and (min-width: 1020px) {

        .main-section-contact{
            box-sizing: border-box;
            display: unset;
            display: grid;
            grid-template-columns: auto 60% auto;
            margin-right: 12rem;
            margin-top: 4rem;
            width: 100%;
            .big-container{
                grid-column-start: 2;
                grid-column-end: 3;
                width: 100%;
                h2{
                    font-size: var(--fs-secondary-heading);
                    font-weight: var(--fw-bold);;
                    color: var(--clr-primary-600);
                    display: flex;
                    justify-content:center;
                    margin-bottom: 2rem;
                }
                .container{
                    display: flex;
                    gap: 4rem;
                    .contact-wrapper{
                        border: 2px solid var(--clr-accent-100);
                        border-radius: 10px;
                        padding: 1rem;
                        width: 100%;
                        .fa-sharp{
                           font-size: var(--fs-500);
                           color: var(--clr-accent-400);
                           display: flex;
                           justify-content: center;
                           margin-bottom: 2rem;
                        }
                        h5{
                            font-size: var(--fs-50);
                            font-family: var(--ff-tertiary);
                            a{
                                text-decoration: none;
                                color: var(--clr-accent-400);
                                font-weight: var(--fw-bold);
                            }
                           }
                           h4{
                            font-size: var(--fs-50);
                            font-weight: var(--fw-bold);
                            font-family: var(--ff-tertiary);
                           }
    
                    }
                }
            }    
    }
    
    .map-location-wrapper{
        width: 100%;
        box-sizing: border-box;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        .wrapper-location{
            display: flex;
            flex-direction: row !important;
            gap: 2rem;
            padding-left: 1rem;
            width: 60% !important;
            div{
                h4{
                    font-size: var(--fs-50);
                    font-weight: var(--fw-bold);
                    font-family: var(--ff-tertiary);
                }
                h5{
                    font-size: var(--fs-50);
                    font-family: var(--ff-tertiary);
                    a{
                        text-decoration: none;
                        color: var(--clr-accent-400);
                        font-weight: var(--fw-bold);
                    }
                   }
            }     
            iframe{
                width: 60%;
                height: 400px;
           } 
        }
    }

    }
  
}

body{
    @include contact-style();
}