@mixin mainpage-style {

    .wrapper-header {
        margin: auto;  
        .secondary-nav{
            display: grid;
            background-color: var(--clr-accent-400);
            grid-template-columns: auto auto auto auto auto;
            padding-top: 5px;
            padding-bottom: 0;
            margin: 0;
            height: 35px;
            
            .secondary-nav-contact{
                list-style-type: none;
                display: flex;
                gap: 1rem;
                grid-column-start: 2;
                grid-column-end: 3;
                li{
                    font-family: var(--ff-tertiary);
                    cursor: pointer;
                    a{
                        padding-left: 0.5rem;
                        font-size: var(--fs-body);
                        color: var(--clr-neutral-400);
                        text-decoration: none;
                        
                       &:hover{
                        text-decoration: underline;
                       }
                    }
                    .fa-solid, .fa-regular{
                       font-size: x-small;
                       color: var(--clr-neutral-400);
                    }
                }

            }
            .secondary-nav-login{
                list-style-type: none;
                grid-column-start: 4 ;
                grid-column-end: 5;
                li{
                    cursor: pointer;
                    a{
                        padding-left: 0.5rem;
                        font-size: var(--fs-body);
                        color: var(--clr-neutral-400);
                        text-decoration: none;
                    }
                    .fa-solid, .fa-regular{
                        font-size: x-small;
                        color: var(--clr-icons-400);
                       
                     }
                }
            }
           

        }

        .primary-nav-wrapper{
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            background-color: var(--clr-primary-300);
            height:auto;
            h1{
                grid-column-start: 2;
                grid-column-end: 3;
                font-family: var(--ff-tertiary);
                font-size: var(--fs-100);
                font-weight: var(--fw-bold);
                padding-left: 2.5rem;
                padding-top: 10px;
                a{
                    text-decoration: none;
                    color: var(--clr-primary-500);
                }
            }
            .primary-nav{
                grid-column-start: 4;
                grid-column-end: 5;
                margin: 0;
                padding-top: 5px;
                ul{
                    display: unset;
                    display: flex;
                    list-style-type: none;
                    li{
                        font-family: var(--ff-tertiary);
                        #dropdown{
                            border: solid transparent;
                            text-decoration: none;
                            font-size: var(--fs-body);
                            color: var(--clr-primary-500);
                            font-weight: var(--fw-bold);
                            padding-bottom:.75rem;
                            padding-top: 0rem;
                            margin: 0;
                            transition: background-color 0.3s;
                            background-color: transparent;
                            padding-inline: 0.25rem;
                            &:hover{
                                background-color: var(--clr-primary-50);
                                // color: var(--clr-neutral-400);
                                padding-bottom: .75rem;
                                padding-top: 0rem;
                                padding-inline: 0.25rem;
                                border: solid transparent;
                         }  
                        } 
                        a{
                            border-radius: 5px;
                            margin: 0;
                            text-decoration: none;
                            font-size: var(--fs-body);
                            color: var(--clr-primary-500);
                            font-weight: var(--fw-bold);
                            padding-bottom: 1.5rem;
                            padding-top: 0.5rem;
                            transition: background-color 0.3s;
                            background-color: transparent;
                            padding-inline: 1rem;
                            &:hover{
                                background-color: var(--clr-primary-50);
                                padding-bottom: 1.5rem;
                                padding-top: 0.5rem;
                                padding-inline: 1rem;
                               
                            }
                        }
                    }
                  
                }
            }
        }
    }

    //first section
    .pca-logo-section{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        border-bottom: 0.5px solid lightgrey;
        .wrapper-pca-logo{
                display: unset;
                display: flex;
                grid-column-start: 2;
                grid-column-end:3 ;
                margin-left: 6rem;
                gap: 1rem;
                .pcaLogo{
                    width: 120px;
                    height: 100px;
                    padding-top: 10px;
                    img{
                        width: 140px;
                        height: 80px;
                    }
                }
                .pca-logo-txt{
                    padding-top: 20px;
                    padding-left: 1rem;
                    h4{
                        font-family: var(--ff-tertiary);
                        font-size: var(--fs-50);
                        line-height: 5px;
                    }
                    .primaryHeader{
                        font-family: var(--ff-tertiary);
                        font-size: var(--fs-100);
                        font-weight: var(--fw-bold);
                    }
                }
        }
        // philippine time wrapper 
        .philippineTime-wrapper{
            margin-left: 10rem;
            padding-top: 15px;
            h5{
                font-family: sans-serif;
                font-size: var(--fs-25);
                line-height: 10px;
            }
            .social-media-logos{
                display: unset;
                display: flex;
                gap: 0.5rem;
                img{
                    width: 25px;
                    height: 25px;
                }

            }
        }
       
    }

    //main section
    .main-section-home{
        display: grid;
        grid-template-columns: auto auto 60% auto;
        margin-top: 4rem;
        width: 100%;
        
        .side-nav-wrapper{
            margin-top: 0.5rem;
            grid-column-start: 2;
            grid-column-end: 3;
            margin-left: 12rem;
            line-height: 2rem;
            width: 40%;
            height: 50%;
            padding-top: 1rem;
            padding-left: 1rem;
            border-bottom: transparent;
            border-left: 0.5px solid var(--clr-neutral-500);
            border-right: 0.5px solid var(--clr-neutral-500);
            border-top: 0.5px solid var(--clr-neutral-500);
            .side-nav-bar{
                font-family: var(--ff-tertiary);
                h1{
                    font-size: var(--fs-100);
                    border-bottom: 0.5px solid var(--clr-neutral-700);
                    width: 90%;
                    text-align: center;
                    color: var(--clr-accent-400);
                    font-weight: var(--fw-bold);
                    padding-bottom: 0.65rem;
                    margin-bottom: 1.5rem;
                }
                ul{ 
                    display: unset;
                    list-style-type: none;
                    li{
                        justify-content: left;
                        display: flex;
                    }
                    a{
                        text-decoration: none;
                        font-size: var(--fs-50);
                        color: var(--clr-accent-400);
                        &:hover{
                            text-decoration: underline;
                            color: var(--clr-accent-500);
                        }
                    }
                }
            }
        }
        .main-section-data{
            grid-column-start: 3;
            grid-column-end: 4;
            width: 60%;
            cursor: pointer;
            h2{
                font-family: var(--ff-tertiary);
                color: var(--clr-accent-400);
                font-weight: var(--fw-bold);
                font-size: var(--fs-secondary-heading);
            }
            h5{
                color: var(--clr-accent-500);
            }
            button {
                font-family: var(--ff-tertiary);
                font-size: var(--fs-50);
                margin-bottom: 1rem;
                transition: background-color 0.5s;
                &:hover{
                    background-color: var(--clr-accent-500);
                }
            }
            .data-types-section{
                .wrapper{
                    display: flex;
                    gap: 2rem;
                    margin-block: 1rem;
                }
                .col1{
                    .img{
                        max-width: 10rem;
                        max-height: 15rem;
                        border-radius: 5px;
                    }
                }
                .col2{
                    .small-txt{
                        font-size: var(--fs-50);
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: var(--clr-neutral-700);
                            &:hover{
                                color: var(--clr-primary-600);
                            }
                        }
                    }
                }
                .card{
                    border: transparent;
                }
                .card-title{
                    color: var(--clr-accent-400);
                }
            }
        }
    }
    //logo section
    .logos{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        ul{
            display: unset;
            display: flex;
            list-style-type: none;
            grid-column-start: 3;
            grid-column-end: 4;
            margin-left: 15rem;
            margin-top: 3rem;
            img {

                width: 200px;
                height: 200px;
            }
        }
    }

    //pca drc contact and quick link section
    .accordion-pcadrc{
        font-family: var(--ff-tertiary);
        background-color: black;
        margin-top: 2rem;
        .pca-drc-accordionetc-wrapper {
            padding-block: 3rem;
            display: grid;
            grid-template-columns: 2fr auto auto auto auto 2fr ;
            .davao-research-center-wrapper{
                grid-column-start: 2;
                grid-column-end: 3;
                h3{
                    font-size: var(--fs-100);
                    font-weight:var(--fw-bold);
                    margin-bottom: 2rem;
                    color: var(--clr-neutral-400);
                }
                .loc-wrapper{
                    display: unset;
                    display: flex;
                    gap: 1rem;
                    .fa-solid{
                        color: var(--clr-neutral-400);
                    
                    }
                    h4{
                        font-size: var(--fs-50);
                        line-height: 20px;
                        font-weight: var(--fw-bold);
                        color: var(--clr-neutral-500);
                    }
                }
                ul {
                    list-style-type: none;
                    display: flex;
                    gap: 1rem;
                    margin-top: 1rem;
                    .fa-brands{
                        border: 1px solid var(--clr-neutral-400);
                        padding: 0.5rem;
                        font-size: var(--fs-50);
                        color: var(--clr-neutral-400);
                    }
                }

            }
            .quick-links-wrapper{
                grid-column-start: 3;
                grid-column-end: 4;
                margin-left: 2rem;
            }
            .trunkline-wrapper{
                grid-column-start: 4;
                grid-column-end: 5;
            }

            .quick-links-wrapper{
                h3{
                    font-weight: var(--fw-bold);
                    font-size: var(--fs-100);
                    margin-left: 2rem;
                    padding-left: 0;
                    color: var(--clr-neutral-400);
                }
                .accordion-wrapper{
                    ul{
                        list-style-type: none;
                        // padding-inline: 0.5rem;
                     li{
                        transition: background-color 0.3s;
                        background-color: transparent;
                        a{
                            text-decoration: none;
                            color: var(--clr-primary-500);
                            transition: background-color 0.5s;
                            font-size: var(--fs-25);
                            font-family: var(--ff-tertiary);
                            color: var(--clr-neutral-400);
                            .span{
                                font-weight: var(--fw-bold);
                            }
                        }
                        &:hover{
                            background-color: var(--clr-accent-400);
                            // padding-inline: 0.5rem;
                        }
                     }   
                    }
                }

            }

            //trunkline-wrapper 
            .trunkline-wrapper{
                margin-left: 4rem;
                h3{
                    font-size: var(--fs-100);
                    font-family: var(--ff-tertiary);
                    font-weight: var(--fw-bold);
                    color: var(--clr-neutral-400);
                }
                h4{
                    font-size: var(--fs-50);
                    font-family: var(--ff-tertiary);
                    line-height: 2rem;
                    color: var(--clr-neutral-400);
                    span {
                        font-weight: var(--fw-bold);
                        a{
                            text-decoration: none;
                            color: var(--clr-icons-400);
                            &:hover{
                                color: var(--clr-accent-100);
                            }
                        }
                    }
                }
            }

        }
        .copyright-wrapper{
            display: flex;
            justify-content: center;
            h4{
                font-size: var(--fs-25);
                color: var(--clr-neutral-400);
            }
        }

    }

    footer{
        display: grid;
        grid-template-columns: 4fr auto 4fr;
        background-color: var(--clr-accent-400);
        padding-block: 2rem;
        .footer-wrapper{
              grid-column-start: 2;
              grid-column-end: 2;
              display: unset;
              display: flex;
              gap: 2rem;
              .logo-gov-seal{
                width: 120px;
                height: 150px;
                img{
                    width: 150px;
                    height: 150px;
                }
              }
              h4{
                font-family: var(--ff-tertiary);
                font-size: var(--fs-10);
                font-weight: var(--fw-bold);
              }
              h5{
                font-family: var(--ff-tertiary);
                font-size: var(--fs-10);
                word-wrap: break-word;
              }

              ul{
                font-size: var(--fs-10);
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: var(--clr-primary-500);
                    font-family: var(--ff-tertiary);
                    &:hover{
                        text-decoration: underline;
                    }
                }
              }
        }

    }

}

body {

    @include mainpage-style();
}
