:root {

    --clr-accent-500: rgb(20,51,36);
    --clr-accent-400: rgb(3,112,65);
    --clr-accent-200: rgb(148,170,141);
    --clr-accent-100: rgb(108,180,56);
    --clr-accent-50:rgb(106,178,53);

    --clr-primary-600: rgb(12,7,10);
    --clr-primary-500: rgb(25,51,39);
    --clr-primary-400: rgb(239,239,239);
    --clr-primary-300: rgb(248,248,248);
    --clr-primary-200: rgb(230,226,227);
    --clr-primary-50: 	rgb(224,224,224);

    --clr-neutral-50: rgb(255,255,255);
    --clr-neutral-200: rgb(240,240,240);
    --clr-neutral-400: rgb(245,245,245);
    --clr-neutral-500:rgb(242,239,232);
    --clr-neutral-700: gray;

    --clr-icons-100: rgb(60,90,153);
    --clr-icons-200: rgb(255,220,14) ;
    --clr-icons-400: rgb(240,222,164);
    --clr-icons-500: rgb(234,67,53);
    

    --ff-primary:'Poppins', sans-serif;
    --ff-secondary: 'causten';
    --ff-tertiary: 'Open sans', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secondary); 
    --ff-accent: var(--ff-tertiary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-10: .6125rem;
    --fs-25: .7125rem;
    --fs-50: .8125rem;
    --fs-100: 1rem;
    --fs-200: 1.5rem;
    --fs-300: 1.8125rem;
    --fs-400: 2.125rem;
    --fs-500: 2.8125rem;

    --fs-body: var(--fs-50);
    --fs-primary-heading: var(--fs-500);
    --fs-secondary-heading: var(--fs-400);
    --fs-nav: var(--fs-50);
    --fs-button: var(--fs-50);
}

@media screen and (max-width: 63.75em){
    
    :root {

        --fs-body: var(--fs-50);
        --fs-primary-heading: var(--fs-400);
        --fs-secondary-heading: var(--fs-300);
        --fs-nav: var(--fs-50);
    }
}

@mixin initiate-class-variables{

    //text color
    .text-primary-500{
        color: var(--clr-primary-500)
    }
    .text-primary-50{
        color: var(--clr-primary-50)
    }
    .text-accent-500{
        color: var(--clr-accent-500)
    }
    .text-accent-400{
        color: var(--clr-accent-400)
    }
    .text-accent-200{
        color: var(--clr-accent-200)
    }
    .text-accent-100{
        color: var(--clr-accent-100)
    }
    .text-accent-50{
        color: var(--clr-accent-50)
    }
    .text-neutral-500{
        color: var(--clr-neutral-500)
    }
    .text-neutral-400{
        color: var(--clr-neutral-400)
    }
    .text-neutral-50{
        color: var(--clr-neutral-50)
    }

    //bg color 
    .bg-primary-500{
        background-color: var(--clr-primary-500);
    }
    .bg-primary-50{
        background-color: var(--clr-primary-50);
    }
    .bg-accent-500{
        background-color: var(--clr-accent-500);
    }
    .bg-accent-400{
        background-color: var(--clr-accent-400);
    }
    .bg-accent-200{
        background-color: var(--clr-accent-200);
    }
    .bg-accent-100{
        background-color: var(--clr-accent-400);
    }
    .bg-accent-50{
        background-color: var(--clr-accent-200);
    }
    .bg-neutral-50{
        background-color: var(--clr-neutral-50);
    }
    .bg-neutral-400{
        background-color: var(--clr-neutral-400);
    }
    .bg-neutral-500{
        background-color: var(--clr-neutral-500);
    }

    // font weights 
    .fw-bold {

        font-weight: var(--fw-bold)
    }
    .fw-semi-bold {
        font-weight: var(--fw-semi-bold);

    }
    .fw-regular {
        font-weight: var(--fw-regular);
    }
    
    .fs-primary-heading {

        font-size: var(--fs-primary-heading);

    }

    .fs-secondary-heading {

        font-size: var(--fs-secondary-heading);
    }

    // fixed size for fonts to be place in classes 

    .fs-50{
        font-size: var(--fs-50);

    }
    .fs-100{
        font-size: var(--fs-100);
        
    }
    .fs-200{
        font-size: var(--fs-200);
        
    }
    .fs-300{
        font-size: var(--fs-300);
        
    }
    .fs-400{
        font-size: var(--fs-400);
        
    }
    .fs-500{
        font-size: var(--fs-500);
        
    }
}

